@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Tomorrow, Poppins;
}

.tomorrow-thin {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.tomorrow-extralight {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.tomorrow-light {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tomorrow-regular {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tomorrow-medium {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.tomorrow-semibold {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.tomorrow-bold {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tomorrow-extrabold {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.tomorrow-black {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.tomorrow-thin-italic {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.tomorrow-extralight-italic {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.tomorrow-light-italic {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.tomorrow-regular-italic {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.tomorrow-medium-italic {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.tomorrow-semibold-italic {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.tomorrow-bold-italic {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.tomorrow-extrabold-italic {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.tomorrow-black-italic {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 900;
  font-style: italic;
}
